Source: prefactor
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>=9),
 dh-python,
 python-all (>= 2.6.6-3~),
 python-setuptools
Standards-Version: 3.9.7
Homepage: https://github.com/lofar-astron/prefactor
X-Python-Version: >= 2.6
Vcs-Git: https://github.com/kernsuite-debian/prefactor
Vcs-Browser: https://github.com/kernsuite-debian/prefactor

Package: prefactor
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends},
 python-matplotlib,
 python-aplpy,
 python-astropy,
 python-numpy,
 python-scipy,
 python-pyfits,
 python-progressbar,
 python-lofar,
 python-casacore,
 python-pp,
 python-pkg-resources,
 casacore-tools,
 casacore-dev,
 losoto,
 lofar,
 lofar-dev,
 lsmtool,
 rmextract,
 wget,
 wsclean
Description: Pre facet calibration pipeline (Python 2)
 Parsets for the genericpipeline that do the first calibration of LOFAR data.
 Originally in order to prepare said data for the Factor facet calibration,
 but also useful if you don't plan to run Factor.
 .
 It includes:
  * applying Ionospheric RM corrections
  * clock-TEC separation with transfer of clock from the calibrator to the
    target
  * some flagging and averaging of amplitude solutions
  * grouping of subbands by actual frequency
  * speed and disk usage improvements by optimized usage of NDPPP
  * (optional) wide-band cleaning in Initial-Subtract
  * diagnostic plots
 .
 This package installs the library for Python 2.
